{% extends "base.html" %}

{% block content %}
            <div class="bg-img">
				{{ object.data[0].id }}
			{% for error in object.errors %}
			{{ error }}<br/>
		{% endfor %}

				
      <form action='/users?task=update&id={{ object.data[0].id }}' method='post'>
          First Name:<input type='text' name='fname' value= '{{ object.data[0].fname }}' /> <br/>
          Last Name:<input type='text' name='lname' value= '{{ object.data[0].lname }}' /> <br/>
          Email:<input type='text' name='email' value= '{{ object.data[0].email }}' /> <br/>
		  Age:<input type='text' name='age' value= '{{ object.data[0].age }}' /> <br/>
		  Gender:<input type='text' name='gender' value= '{{ object.data[0].gender }}' /> <br/>
		  Password:<input type='password' name='pw'/> <br/>
		  Retype Password:<input type='password' name='pw2'/> <br/>
		  
		  Type: 
          <select name='type'>
		  <option
		  {%if object.data[0].type == 'customer' %}
			 selected = 'true' 
          {% endif %}
		  value = 'customer'> Customer </option>
		  <option
		  {%if object.data[0].type == 'employee' %}
			 selected = 'true' 
          {% endif %}
		  value = 'employee'> Employee </option>
          </select> <br/>
		  
		 
        </form>
			</div>
{% endblock %}
