{% extends "base.html" %}

{% block content %}
            <div class="bg-img">
			<h1> Checkout</h1>
				{{ object.data[0].id }}
				
      <form action='/checkout?task=confirm' method='post'>
			{% for item in object.data %}
			<img style='width:200px' src='static/{{ item.img }}'/><br/>
			{{ item.PName }} <br/>
			Price:{{ item.PPrice }}<br/>
			Quantity:{{ item.Quantity }}<br/>
			{% endfor %}
		  Type: 
          <select name='type'>
		  <option
		  {%if object.data[0].type == 'credit' %}
			 selected = 'true' 
          {% endif %}
		  value = 'credit'> credit </option>
		  <option
		  {%if object.data[0].type == 'debit' %}
			 selected = 'true' 
          {% endif %}
		  value = 'debit'> debit </option>
          </select> <br/>
		  
		 <input type="submit" value="Place my order"/>
		 

        </form>
			</div>
{% endblock %}
