{% extends "base.html" %}

{% block content %}
			<div>
		{% for error in object.errors %}
			{{ error }}<br/>
		{% endfor %}
		<form action='/transactions?task=add' method='post'>
			Amount:<input type='text' name='PSize' value= '{{ object.data[0].PSize }}' /> <br/>
			Transaction Date:<input type='text' name='PBrand' value= '{{ object.data[0].PBrand }}' /> <br/>
			Transaction Status:<input type='text' name='PPrice' value= '{{ object.data[0].PPrice }}' /> <br/>
			Payment method:<input type='text' name='PName' value= '{{ object.data[0].PName }}' /> <br/>
			Type: 
			<select name='PType'>
		  <option
		  {%if object.data[0].type == 'Tshirts' %}
			 selected = 'true' 
          {% endif %}
		  value = 'Tshirts'> Tshirts </option>
		  <option
		  {%if object.data[0].type == 'Pants' %}
			 selected = 'true' 
		  {% endif %}
		  value = 'Pants'> Pants </option>
		  <option
		  {%if object.data[0].type == 'Dresses' %}
			 selected = 'true' 
          {% endif %}
		  value = 'Dresses'> Dresses </option>
			</select> <br/>
			<input type='submit' value = 'save'/>
		</form>
			</div>
{% endblock %}
