{% extends "base.html" %}

{% block content %}
            <div>
				{{ object.data[0].TId }}
			{% for error in object.errors %}
			{{ error }}<br/>
		{% endfor %}

				
		<form action='/transactions?task=update&TId={{ object.data[0].TId }}' method='post'>
			Amount:<input type='text' name='PSize' value= '{{ object.data[0].PSize }}' /> <br/>
			Transaction Date:<input type='text' name='PBrand' value= '{{ object.data[0].PBrand }}' /> <br/>
			Transaction Status:<input type='text' name='PPrice' value= '{{ object.data[0].PPrice }}' /> <br/>
			Payment method:<input type='text' name='PName' value= '{{ object.data[0].PName }}' /> <br/>
			
		  <input type='submit' value = 'save'/>
		 
        </form>
			</div>
{% endblock %}
