<html>
    <head>
      
      

	  <link rel="stylesheet" href="productbackground.css" />
	  </head>
		<body>
            <div class="bg-img">
				
				<h1> PRODUCTS</h1>
				{% for row in table.data %}
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PName }}</a> 
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PPrice }}</a> 
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PSize }}</a> 
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PBrand }}</a>
				<a href="products?ProductId={{ row.ProductId }}">{{ image_list }}</a>
				<a href="lineitems?lineitemId=add">Add to Cart</a><br>
				</br>
				{% endfor %}
			</div>
		</body>
</html>

