{% extends "base.html" %}

{% block content %}
            <div>
				
				
				
				{% for row in table.data %}
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PName }}</a> 
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PPrice }}</a> 
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PSize }}</a> 
				<a href="products?ProductId={{ row.ProductId }}">{{ row.PBrand }}</a>
				<a href="products?ProductId={{ row.ProductId }}">{{ image_list }}</a>
				
				{% endfor %}
			</div>
{% endblock %}
